/* Fondo de la página */
.login-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 300px;
  padding-bottom: 300px !important; /* Añadir suficiente espacio superior para que el contenido no quede tapado */

}

/* Contenedor del formulario */
.login-form {
  background: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
  margin-top: 500px;

}

/* Título */
.login-title {
  font-size: 2rem;
  color: #333;
  margin-bottom: 10px;
  font-weight: 700;
}

/* Subtítulo */
.login-subtitle {
  font-size: 1rem;
  color: #777;
  margin-bottom: 20px;
}

/* Contenedor de entradas */
.input-container {
  margin-bottom: 20px;
}

/* Estilo de los inputs */
.input-container input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

.input-container input:focus {
  border-color: #007bff;
  outline: none;
}

/* Botón de inicio de sesión */
.btn-login {
  width: 100%;
  padding: 12px;
  background: #007bff;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.btn-login:hover {
  background: #0056b3;
  transform: translateY(-2px);
}

/* Enlace de registro */
.register-link {
  font-size: 0.9rem;
  margin-top: 20px;
  color: #666;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
  font-weight: 500;
}

.register-link a:hover {
  text-decoration: underline;
}